



button{
    border: none;
    outline: none;
    margin: 3px;
}

#textField {
    width: 100%;
    height: 350px;
    border: 2px solid rgb(168, 168, 168);
    margin-top: 10px;
}



.textColor{
    /* color: red; */
    /* text-underline-position: below; */
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

